*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 20px;
    color: black;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 10px rgb(255, 85, 85);
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.39);
    color:#fff;
    border:none;
    border-radius: 4px;
    outline: none;
    transition: 300ms ease;
}

button.white{
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    background: transparent;
    color:#000;
    border: 5px solid black;
    outline: none;
    transition: 300ms ease;
}

body{
   background: rgb(255, 246, 251);
    width: 100%;
}

/* header styling */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    background: linear-gradient(to right,rgb(223, 208, 216) 20%,  rgb(255, 195, 179) 80% );
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.308);
    position: sticky;
    top: 0;
    left:0;
    z-index: 999;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;   
}
ul li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* margin: 5px; */
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 220ms ease;
    color: rgb(255, 0, 0)
}

li a:hover,
li a.active{
    color: rgb(56, 0, 187);
}

li a.active::after,
li a:hover::after{
    content: "";
    height: 2px;
    width: 30%;
    position: absolute;
    left: 20px;
    bottom: -4px;
    background: rgb(252, 255, 102);
}

#mob{
    display: none;
    align-items: center;
}

#close{
    display: none;
}
#hero{
    background: url("girl.jpg");
    background-size: cover;
    background-position: left;  
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    color: lightyellow;
    text-shadow: 3px 3px 13px darkred;
    padding-bottom:15px;
}

#hero h1{
    color: rgb(236, 232, 165);
}

#hero button{
    border: none;
    outline: none;
    background: linear-gradient(to right, rgb(255, 0, 0) 30%, rgb(255, 251, 2) 100%);
    width: 170px;
    padding: 10px;
    color: rgb(253, 249, 8);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

#hero button:hover{
    transition: 200ms ease-in;
    transform: translate(5%,-5%);
}
#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .fBox{
    width: 150px;
    text-align: center;
    padding: 15px 1px;
    border: 1px solid rgba(253, 150, 100, 1);
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: 15px 0;
}

#features .fBox h6{
    
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 30px;
    background:  linear-gradient(to right, rgb(255, 0, 0) 30%, rgb(255, 251, 2) 100%);
    color: rgb(253, 249, 8);
}

.fBox img{
    height: 90px;
    width: 100px;
}

#features .fBox:hover{
    cursor: pointer;
    transition: 300ms ease;
    box-shadow: 5px 5px 10px rgb(68, 68, 68);
}

#product1{
    text-align: center;
}

#product1 .pro{
    background:linear-gradient(to right,rgb(223, 208, 216) 20%,  rgb(255, 195, 179) 80% );
    width: 11%;
    min-width: 258px;
    padding: 10px 12px;
    border: 1px solid rgba(253, 250, 153, 1);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.616);
    margin: 15px 0;
    transition: 200ms ease;
    position: relative;
}

#product1 .pro:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.459);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding:10px 0;
}

#product1 .pro .des span{
    color: rgb(255, 75, 4);
    font-size: 12px;
}

#product1 .pro .des h5{
    color:rgb(255, 75, 4);
    padding-top:7px ;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color:rgb(194, 147, 27);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 75, 4);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(192, 175, 255);
    font-weight: 500;
    color: rgb(255, 75, 4);
    position: absolute;
    bottom: 20px;
    right: 20px;
}


#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#banner{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('gift.jpg');
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#banner h4{
    color: rgb(252, 5, 5);
    font-size: 20px;
}

#banner h2{
    color: rgb(9, 5, 252);
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: red;
}

#banner button:hover{
    cursor: pointer;
    background: rgb(250,250,150);
    color: black;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#sm-banner .banner-box{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 580px;
    height: 50vh;
    background: url('offer\ image.jpg');
    background-position: center;
    background-size: cover;   
    padding: 30px;
}

#sm-banner  #offer{
    background-image: url('shopping.jpg');
    background-position: center;
    background-size: cover;  
}

#sm-banner h4{
    color: #fff;
    text-shadow: 3px 3px 15px black,5px 5px 20px black;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    text-shadow: 3px 3px 15px black,5px 5px 20px black;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    text-shadow: 3px 3px 15px black,5px 5px 20px black;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #fff;
    color: black;
}

#banner3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 30%;
    height: 30vh;
    background: url('home\ appliance.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;   
    padding: 20px;
}

#banner3 h2,h3{
    color: #fff;
    text-shadow: 3px 3px 15px black,5px 5px 5px black;
    font-size: 22px;
    font-weight: 900;
}

#banner3 .mobile{
    background: url('mobiles.jpg');
    background-position: center;
    background-size: cover;
}
#banner3 .ornaments{
    background: url('jwellery.jpg');
    background-position: center;
    background-size: cover;
}

#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url('contact.jpg');
    background-size: 20% 100%;
    background-color: rgb(208, 210, 212);
    background-repeat: no-repeat;
    background-position: left;

}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter h4,p{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 3px 15px black,5px 5px 5px black;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 0.3px solid  rgb(208, 210, 212);
    border-radius: 4px;
    outline:none;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #fff;
    width: 30%;
    white-space: no-wrap;
    color: black;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer img{
    margin-bottom: 30px;
}
footer h4{
    padding-bottom: 14px;
    font-size: 24px;
    color: #fff;
}

footer p{
    margin: 0 0  8px 0;
    text-shadow: none;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

footer a{
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #4fff;
    padding-right: 4px;
}

footer .install img{
    margin: 10px 0 15px 0;
    padding: 0 15px;
}
footer a:hover{
    transition: 100ms ease-in;
    text-decoration: underline;
    color:#4fff
}

footer .copyright{
    width:100%;
    text-align: center;
    opacity: 0.2;
}

/* responsive media query */
/* for mid screen devices */

@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: rgba(253,252,153,0.8);
        box-shadow: 0 40px 60pc rgba(0, 0, 0, 0.3);
        padding:80px 0 0 10px;
        transition: 0.3s ease;
    }
    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mob{
        display: flex;
        align-items: center;
    }
    #mob{
        font-size: 24px;
        color: rgb(255, 0, 0);
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top:30px;
        left: 30px;
        color: rgb(57, 163, 255);
        font-size: 24px;
    }
    #close .active{
        right:0px;
    }
    #exit{
        display: none;
    }
    #hero {
        
        height: 70vh;
        padding: 0 80px;
        background-position: 20% 30%;
    }
    #hero h2{
        color: #fff;
    }
    #features {
        justify-content: center;
    }
    #features .fBox {
        margin: 15px 10px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter .form {
        width: 100%;
    }
}

/* for small screen devices */

@media (max-width:477px) {
    #header {
        padding: 0 40px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    h2 {
        font-size: 35px;
    }
    h1 {
        font-size: 25px;
    }
    .section-p1 {
        padding: 20px;
    }
    #product1 .pro {
       width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner  #offer {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 15px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter input {
        width: 50%; 
    }
    #newsletter button {
        width: 50%;
    }
    footer .copyright{
        text-align: start;
    }
    
}
